html,
body,
#root {
  height: 100%;
}

body {
  background-color: hsl(0, 0%, 95%);
  margin: 0;
  color: hsl(0, 0%, 20%);
}

*,
*:before,
*:after {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

#header-container {
  /* position: absolute; */
  top: 0px;
  left: 0px;
  right: 0px;
  height: 56px;
  background-color: hsl(0, 0%, 20%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#header {
  display: flex;
  width: 1440px;
  justify-content: space-between;
  align-items: center;
}

#header > a {
  text-decoration: none;
  color: hsl(180deg, 0%, 95%);
  font-family: 'Bungee Shade', cursive, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
}

.search-bar {
  height: 1.5rem;
}

.theater-container {
  display: inline-block;
  /* border: 2px solid red; */
  max-width: 1152px;
  margin: 16px;
}

.theater-name-wrapper {
  padding: .25rem 0;
  background-color: hsl(0, 0%, 75%);
  box-shadow:
    -4px 4px 0px hsla(0, 0%, 20%, 0.75)
  ;
}

.theater-name-wrapper > h1 {
  margin: auto auto auto 16px;
}

.movies-container {
  display: flex;
}

.movies-wrapper {
  display: flex;
  margin: 8px;
  gap: 8px;
  /* border: 1px solid black; */
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie {
  /* border-bottom: 1px solid hsl(0, 0%, 20%); */
  max-width: 556px;
  justify-content: space-between;
  display: flex;
  text-transform: uppercase;
  background-color: hsl(180deg, 0%, 95%);
  box-shadow:
      0 1px 1px -1px hsla(0, 0%, 20%, 0.75)
    ;
}

.movie-info {
  padding-left: 8px;
  max-width: 75%;
}

.movie-info > h2 {
  margin: 8px auto 4px auto;
}

.amenities {
  font-size: .75rem;
  font-weight: 100;
  margin: 0 8px;
}

.movie-poster {
  width: 105px;
  height: 158px;
  background-color: hsl(0, 0%, 20%);
}

.times-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 16px 8px;
  max-width: 100%;
}

.search-params {
  max-width: 500px;
  /* border: 1px red solid; */
  margin: 0 auto;
  height: 600px;
  float: right;
  padding: 1rem 0;
}

.search-params form {
  border-radius: 6px;
  /* border: 3px green solid; */
	background: hsl(355, 0%, 96%);
	box-shadow: 0px 0px 12px #aaa, -0px -0px 12px #fff;
	/* max-width: 100%; */
  height: 100%;
	margin: 0px 25px 0px 0px;
	padding: 2rem 1.5rem;
	display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: space-between;
}

.search-params form div a {
  display: block;
  /* border: 1px red solid; */
}

#location, #date, #range, .select-container > label {
  display: block;
  /* font-weight: 200; */
}

select {
  padding: 4px;
  margin: .5rem 0;
}

form label {
  color: hsla(0, 0%, 20%);
  /* color: hsla(0, 49%, 67%, 0.75); */
  font-weight: 300;
}

form input {
  margin: .5rem 0 .25rem 0;
  padding: 4px;
  color: hsla(0, 0%, 20%, 0.75);
}

/* how to set all children of filter wrapper to have height 220px? */